In [5]:
import pandas as pd
import numpy as np
from datetime import datetime, date, time

In [6]:
char=pd.read_csv('character.metadata.tsv',sep='\t',header=None)
char.columns=['wiki_movie_ID','freebase_movie_ID','movie_release_date','character_name','actor_DOB','actor_gender','actor_height','actor_ethnicity','actor_name','actor_age_movie','freebase_char/actor_map_ID','freebase_char_ID','freebase_actor_ID']
# char.head()

char.movie_release_date.apply(lambda d: datetime.strptime(d, '%y-%m-%d')).head(10)

ValueError: time data '2001-08-24' does not match format '%y-%m-%d'

In [15]:
mov=pd.read_csv('movie.metadata.tsv',sep='\t',header=None)
mov.columns=['wiki_movie_ID','freebase_movie_ID','movie_name','movie_release_date','movie_box_off_rev','movie_runtime','movie_languages','movie_countries','movie_genres']
# mov.head()

mov.to_excel('mov.xlsx', index=False)

In [5]:
name_clusters=pd.read_table('name.clusters.txt',header=None)#,sep=" ",header=None)
name_clusters.columns=['actor_name','freebase_char/actor_map_ID']
name_clusters.head()

      actor_name freebase_char/actor_map_ID
0  Stuart Little                  /m/0k3w9c
1  Stuart Little                  /m/0k3wcx
2  Stuart Little                  /m/0k3wbn
3       John Doe                  /m/0jyg35
4       John Doe                  /m/0k2_zn

In [6]:
plot_summaries=pd.read_table('plot_summaries.txt',header=None)
plot_summaries.columns=['wiki_movie_ID','movie_plot']
plot_summaries.head()

   wiki_movie_ID                                         movie_plot
0       23890098  Shlykov, a hard-working taxi driver and Lyosha...
1       31186339  The nation of Panem consists of a wealthy Capi...
2       20663735  Poovalli Induchoodan  is sentenced for six yea...
3        2231378  The Lemon Drop Kid , a New York City swindler,...
4         595909  Seventh-day Adventist Church pastor Michael Ch...

In [13]:
type_char=pd.read_table('tvtropes.clusters.txt',header=None)
type_char.columns=['char_type','infos']
type_char.head()

                 char_type                                              infos
0  absent_minded_professor  {"char": "Professor Philip Brainard", "movie":...
1  absent_minded_professor  {"char": "Professor Keenbean", "movie": "Richi...
2  absent_minded_professor  {"char": "Dr. Reinhardt Lane", "movie": "The S...
3  absent_minded_professor  {"char": "Dr. Harold Medford", "movie": "Them!...
4  absent_minded_professor  {"char": "Daniel Jackson", "movie": "Stargate"...

In [14]:
import json
list=[]

for i in range(len(type_char)):
    list=list+[json.loads(type_char['infos'][i])]

char_type_df=pd.DataFrame(list)

char_type_df

,char,movie,id,actor
0,Professor Philip Brainard,Flubber,/m/0jy9q0,Robin Williams
1,Professor Keenbean,Richie Rich,/m/02vchl3,Michael McShane
2,Dr. Reinhardt Lane,The Shadow,/m/0k6fkc,Ian McKellen
3,Dr. Harold Medford,Them!,/m/0k6_br,Edmund Gwenn
4,Daniel Jackson,Stargate,/m/0k3rhh,James Spader
...,...,...,...,...
496,Morgan Earp,Tombstone,/m/0k776f,Bill Paxton
497,Colorado Ryan,Rio Bravo,/m/0k2kqg,Ricky Nelson
498,Tom Sawyer,The League of Extraordinary Gentlemen,/m/0k5nsh,Shane West
499,William H. 'Billy the Kid' Bonney,Young Guns II,/m/03lrjk0,Emilio Estevez
500,Jake,Silverado,/m/0k39jj,Kevin Costner

In [15]:
char_type_df['char_type']=type_char['char_type']
char_type_df.columns=['character_name','movie_name','freebase_char/actor_map_ID','actor_name','char_type']
char_type_df

,character_name,movie_name,freebase_char/actor_map_ID,actor_name,char_type
0,Professor Philip Brainard,Flubber,/m/0jy9q0,Robin Williams,absent_minded_professor
1,Professor Keenbean,Richie Rich,/m/02vchl3,Michael McShane,absent_minded_professor
2,Dr. Reinhardt Lane,The Shadow,/m/0k6fkc,Ian McKellen,absent_minded_professor
3,Dr. Harold Medford,Them!,/m/0k6_br,Edmund Gwenn,absent_minded_professor
4,Daniel Jackson,Stargate,/m/0k3rhh,James Spader,absent_minded_professor
...,...,...,...,...,...
496,Morgan Earp,Tombstone,/m/0k776f,Bill Paxton,young_gun
497,Colorado Ryan,Rio Bravo,/m/0k2kqg,Ricky Nelson,young_gun
498,Tom Sawyer,The League of Extraordinary Gentlemen,/m/0k5nsh,Shane West,young_gun
499,William H. 'Billy the Kid' Bonney,Young Guns II,/m/03lrjk0,Emilio Estevez,young_gun
500,Jake,Silverado,/m/0k39jj,Kevin Costner,young_gun