In [48]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests
import json

{'message': 'Page Not Found', '_links': {'self': {'href': '/v3.1/region', 'templated': False}}}

In [35]:
region_lst = ["Africa", "Americas", "Asia", "Europe", "Oceania"]

countries = {"country" : [],
"region" : []
}

country_lst = [[], []]

df_countries = pd.DataFrame(columns = ["country", "region"])

for region in region_lst:
    response = requests.get("https://restcountries.com/v3.1/region/" + region).json()

    for elem in response:
        countries["country"].append(elem.get("name").get("common"))
        countries["region"].append(region)

df_countries = pd.DataFrame.from_dict(countries)
df_countries

                            country   region
0                            Zambia   Africa
1                      Sierra Leone   Africa
2                           Morocco   Africa
3                           Namibia   Africa
4    British Indian Ocean Territory   Africa
..                              ...      ...
240         Cocos (Keeling) Islands  Oceania
241                     New Zealand  Oceania
242                Marshall Islands  Oceania
243                         Tokelau  Oceania
244        Northern Mariana Islands  Oceania

[245 rows x 2 columns]

In [66]:
df_movie=pd.read_csv('../data/movie.metadata.tsv',sep='\t',header=None)
df_movie.columns=['wiki_movie_ID','freebase_movie_ID','movie_name','movie_release_date','movie_box_off_rev','movie_runtime','movie_languages','movie_countries','movie_genres']
df_movie["movie_country"] = df_movie["movie_countries"].apply(lambda x: list(json.loads(x).values()))
df_movie["movie_country_id"] = df_movie["movie_countries"].apply(lambda x: list(json.loads(x).keys()))
df_movie = df_movie.drop("movie_countries", axis=1)
df_movie

,wiki_movie_ID,freebase_movie_ID,movie_name,movie_release_date,movie_box_off_rev,movie_runtime,movie_languages,movie_genres,movie_country,movie_country_id
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",[United States of America],[/m/09c7w0]
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp...",[United States of America],[/m/09c7w0]
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D...",[Norway],[/m/05b4w]
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic...",[United Kingdom],[/m/07ssc]
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/07s9rl0"": ""Drama""}",[Germany],[/m/0345h]
...,...,...,...,...,...,...,...,...,...,...
81736,35228177,/m/0j7hxnt,Mermaids: The Body Found,2011-03-19,NaN,120.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07s9rl0"": ""Drama""}",[United States of America],[/m/09c7w0]
81737,34980460,/m/0g4pl34,Knuckle,2011-01-21,NaN,96.0,"{""/m/02h40lc"": ""English Language""}","{""/m/03bxz7"": ""Biographical film"", ""/m/07s9rl0...","[Ireland, United Kingdom]","[/m/03rt9, /m/07ssc]"
81738,9971909,/m/02pygw1,Another Nice Mess,1972-09-22,NaN,66.0,"{""/m/02h40lc"": ""English Language""}","{""/m/06nbt"": ""Satire"", ""/m/01z4y"": ""Comedy""}",[United States of America],[/m/09c7w0]
81739,913762,/m/03pcrp,The Super Dimension Fortress Macross II: Lover...,1992-05-21,NaN,150.0,"{""/m/03_9r"": ""Japanese Language""}","{""/m/06n90"": ""Science Fiction"", ""/m/0gw5n2f"": ...",[Japan],[/m/03_3d]
81740,12476867,/m/02w7zz8,Spliced,2002,NaN,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/01jfsb"": ""Thriller"", ""/m/03npn"": ""Horror""...",[Canada],[/m/0d060g]