In [12]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests

{'message': 'Page Not Found', '_links': {'self': {'href': '/v3.1/region', 'templated': False}}}

In [35]:
region_lst = ["Africa", "Americas", "Asia", "Europe", "Oceania"]

countries = {"country" : [],
"region" : []
}

country_lst = [[], []]

df_countries = pd.DataFrame(columns = ["country", "region"])

for region in region_lst:
    response = requests.get("https://restcountries.com/v3.1/region/" + region).json()

    for elem in response:
        countries["country"].append(elem.get("name").get("common"))
        countries["region"].append(region)

df_countries = pd.DataFrame.from_dict(countries)
df_countries

                            country   region
0                            Zambia   Africa
1                      Sierra Leone   Africa
2                           Morocco   Africa
3                           Namibia   Africa
4    British Indian Ocean Territory   Africa
..                              ...      ...
240         Cocos (Keeling) Islands  Oceania
241                     New Zealand  Oceania
242                Marshall Islands  Oceania
243                         Tokelau  Oceania
244        Northern Mariana Islands  Oceania

[245 rows x 2 columns]